* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:black; 
  text-decoration: none;
}

.title {
  position: absolute;
  width: 290px;
  height: 81px;
  left: 206px;
  top: 7px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #000000;
}

.border {
  position: absolute;
  width: 695px;
  height: 397px;
  left: 0px;
  top: 88px;

  background: #000000;
  z-index: -2;
}

.table {
  position: absolute;
  width: 684px;
  height: 386px;
  left: 5px;
  top: 93px;

  background: #4F8F28;
  z-index: -1;
}

.girl {
  position: absolute;
  width: 69px;
  height: 78px;
  left: 39px;
  top: 101px;
  z-index: 1;
}

.circlePlayer {
border-radius: 50%;
position: absolute;
width: 99px;
height: 85px;
left: 24px;
top: 120px;
background: #EEAFBA;
z-index: -1;
}

.playerText {
  position: absolute;
  width: 140px;
  height: 41px;
  left: 91px;
  top: 109px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;

}

.playerText {
  position: absolute;
  width: 140px;
  height: 41px;
  left: 91px;
  top: 109px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}
.playerScore {
  
  font-family: Allerta;

}

.bot {
  position: absolute;
  width: 68px;
  height: 75px;
  left: 409px;
  top: 104px;
  z-index: 1;
}

.circleBot {
  border-radius: 50%;
  position: absolute;
  width: 99px;
  height: 85px;
  left: 390px;
  top: 120px;

  background: #C4C4C4;
  z-index: -1;
}

.botText {
  position: absolute;
  width: 140px;
  height: 41px;
  left: 445px;
  top: 110px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

.botScore {
  font-family: Allerta;
}

.cardPlayer {
  position: absolute;
  width: 67px;
  height: 78px;
  left: 60px;
  top: 231px;

  background: url(K.png);
}

.hitText {
  position: absolute;
  width: 60px;
  height: 24px;
  left: 199px;
  top: 426px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
  cursor: pointer;
}

.hitBox {
  position: absolute;
  width: 53px;
  height: 37px;
  left: 202px;
  top: 421px;

  background: #FFF800;
  border-radius: 10px;
  z-index: -1;
  cursor: pointer;
}

.standText {
  position: absolute;
  width: 66px;
  height: 24px;
  left: 304px;
  top: 426px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
  cursor: pointer;
}

.standBox {
  position: absolute;
  width: 79px;
  height: 37px;
  left: 297px;
  top: 421px;

  background: #FF0B0B;
  border-radius: 10px;
  z-index: -1;
  cursor: pointer;
  
}

.dealText {
  position: absolute;
  width: 70px;
  height: 24px;
  left: 415px;
  top: 426px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
  cursor: pointer;

}

.dealBox {
  position: absolute;
  width: 61.83px;
  height: 37px;
  left: 418.5px;
  top: 421px;

  background: #7BCFFF;
  border-radius: 10px;
  z-index: -1;
  cursor: pointer;
}

.instructions {
  position: absolute;
  width: 550px;
  height: 32px;
  left: 79px;
  top: 494px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

.emojiSunglass {
  position: absolute;
  width: 40px;
  height: 42px;
  left: 422px;
  top: 490px;
}

.rules {
  position: absolute;
  width: 684px;
  height: 122px;
  left: 14px;
  top: 549px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.goal {

  color: #890975;
}

.hit {
  color: #BC4411;
}

.stand {
  color: #FF0B0B;
}

.deal {
  color: #095589;
}

.cardsPlayerDeck {
  position: absolute;
  width: 298px;
  height: 182px;
  left: 29px;
  top: 222px;

  background: #4F8F28;
}

.cardsBotDeck {
position: absolute;
width: 298px;
height: 182px;
left: 390px;
top: 222px;

background: #4F8F28;
}
